

/*body {
    margin: 100;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../img/pngtree-gritty-neon-light-background-in-an-empty-room-3d-rendered-concept-image_3733448.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}*/
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-image: url('../img/pngtree-gritty-neon-light-background-in-an-empty-room-3d-rendered-concept-image_3733448.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding: 1px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    background-color: #aa116d00;
}




.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #0044cc;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background: #315cfd;
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    button {
        font-size: 0.8em;
        padding: 6px 12px;
    }
}