body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../img/millions_start.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    button {
        font-size: 0.8em;
        padding: 6px 12px;
    }
}