body {
    font-family: 'Arial', sans-serif;
    background-color: #cce7ff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    max-width: 90%;
    margin-top: 15px;
}

h1, h2, h3 {
    margin: 0;
    color: #0044cc;
}

/* ---- Informations du personnage et du joueur ---- */
.character-info, .player-info {
    font-size: 1.2em;
    background-color: #e6f0ff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
    width: 80%;
    border: 1px solid #b5cfe9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
    max-width: 600px;
}

.player-info {
    font-weight: bold;
    background-color: #d4e4ff;
}

/* ---- Boutons d'action ---- */
button {
    padding: 12px 20px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}

button:hover {
    background: #315cfd;
    color: white;
    transform: scale(1.05);
}

/* ---- Adaptations pour les écrans plus petits ---- */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    button {
        font-size: 1em;
        padding: 10px 18px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;
    }

    button {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}
